/* --- PÁGINA SOBRE NÓS --- */

/* 1. Hero Section (Banner Topo) */
.about-hero {
    background: linear-gradient(to right, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.4) 60%, rgba(0,0,0,0.1) 100%), url('/icons/about/topgun.jpg');
    
    background-size: cover; 
    
    background-position: center right; 
    

    height: 70vh; 
    min-height: 600px; 
    
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 4px solid #ECA72C;
}
.about-hero-content h1 {
    font-family: 'Inter', sans-serif; 
    font-weight: 900; 
    font-size: 4rem;  
    color: white;
    text-transform: uppercase;
    line-height: 1;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

.yellow-line {
    width: 300px;
    height: 5px;
    background-color: #ECA72C;
    margin-top: 10px;
}

/* 2. Conteúdo Zigue-Zague */
.about-content {
    padding: 80px 0;
}

.feature-row {
    margin-bottom: 100px; /* Espaço entre os blocos */
}

.text-content h2 {
    font-size: 1.8rem;
    font-weight: 800;
    color: white;
    text-transform: uppercase;
    border-bottom: 2px solid #ECA72C;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.text-content p {
    font-size: 1rem;
    color: #ddd;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.6;
    font-weight: 600;
}

.feature-img {
    max-width: 80%; /* Tamanho das imagens (pipoca, etc) */
    height: auto;
    filter: drop-shadow(0 10px 20px rgba(0,0,0,0.5));
}

/* Animação de flutuar (Floating) */
@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-15px); }
    100% { transform: translateY(0px); }
}

.floating {
    animation: float 4s ease-in-out infinite;
}

.floating-delay {
    animation: float 4s ease-in-out infinite;
    animation-delay: 2s; /* Começa depois */
}

/* 3. Seção Benefícios */
.benefits-section {
    padding: 30px 0 100px 0;
}

.benefits-section h2 {
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

.yellow-line-center {
    width: 200px;
    height: 3px;
    background-color: #ECA72C;
    margin: 0 auto; /* Centraliza a linha */
}

.benefit-icon {
    height: 80px;
    margin-bottom: 20px;
}

.benefits-section h4 {
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.benefits-section p {
    color: #ccc;
    font-size: 0.8rem;
    max-width: 250px;
    margin: 0 auto;
    text-transform: uppercase;
}

/* Responsividade */
@media (max-width: 768px) {
    .about-hero-content h1 { font-size: 2.5rem; } /* Diminui título no celular */
    .yellow-line { width: 150px; }
    .text-content { text-align: center !important; } /* Centraliza texto no celular */
    .feature-row { margin-bottom: 50px; }
}