.section-title {
    font-weight: 800; 
    font-size: 3rem;
    color: white;
    letter-spacing: -2px; 
    text-transform: uppercase;
}

.text-yellow {
    color: #ECA72C;
}

.movie-grid {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 40px 20px ;
    
    scrollbar-width: none; 
    scroll-behavior: smooth; 
    scroll-snap-type: x mandatory;
}

.movie-grid::-webkit-scrollbar {
    height: 0px; 
    background: transparent; 
}

/* CARD DO FILME */
.movie-card {
    position: relative;
    border-radius: 16px; 
    overflow: hidden; 
    aspect-ratio: 2/3; 
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid transparent; 
    min-width: 200px;
    scroll-snap-align: start;
}

.movie-card img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}

.movie-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.9) 10%, rgba(0,0,0,0.5) 30%, transparent 60%);
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
}

/* TEXTOS DO FILME */
.movie-info {
    text-align: center;
}

.movie-info h3 {
    color: white;
    font-size: 1.1rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: 5px;
    text-shadow: 0 2px 4px rgba(0,0,0,0.8);
}

.movie-info span {
    color: #ffffff;
    font-size: 0.8rem;
    font-weight: 400;
}

.movie-card:hover {
    transform: scale(1.05);
    z-index: 2;
    border-color: #ECA72C;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}

/* --- CORREÇÃO DE CORTE LATERAL --- */
.movie-card:first-child:hover {
    transform-origin: left center;
}
.movie-card:last-child:hover {
    transform-origin: right center;
}
.movie-card:first-child {
    margin-left: 15px;
}
.movie-card:last-child {
    margin-right: 15px;
}



/* --- ESTILO DOS BOTÕES DO CARROSSEL --- */

.scroll-btn {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    cursor: pointer;
    z-index: 10; 
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    opacity: 0; 
}

.carousel-wrapper:hover .scroll-btn {
    opacity: 1;
}

.scroll-btn:hover {
    background-color: #ECA72C; 
    color: #221E22;
    transform: translateY(-50%) scale(1.1);
}

.btn-left {
    left: -25px; 
}

.btn-right {
    right: -25px; 
}

@media (max-width: 768px) {
    .scroll-btn { display: none; }
}